.btn-accordion{
    text-decoration: none;
    border: 0;
    padding: 7px;
    outline: 0;
    border-radius: 5px;
    background-color:#FAC86A;
}

@media only screen and (max-width: 600px) {

    .btn-accordion{
        font-size: 15px;
    }

    .slider-text h1{
        font-size: 21px;
    }


}